* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 26, 26);
}

.topo {
    width: fit-content;
    margin: auto;
    font-size: 30px;
    font-family: 'Lacquer', sans-serif;
    color: white;
}

.container {
    width: 1040px;
    margin: auto;
    height: 660px;
    margin-top: 15px;
}

.card {
    width: 200px;
    height: 320px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    perspective: 1000px;
}

.card-conteudo {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}


/*
.card:hover .card-conteudo {
    transform: rotateY(-180deg);
}
*/

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

img {
    width: 200px;
    height: 320px;
}